.countDate{
  display: flex;

  .colon {
    width: 19px;
    height: 70px;
    left: 804px;
    top: 382px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    /* identical to box height, or 72px */
    transform: translateY(-5px);

    color: #162C4E;
  }
}