.friend{
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 18px;
}

.follow{
  width: 80px;
  height: 30px;
  border: none;
  color: black;
  background-color: rgb(226, 226, 226);
}

.unfollow{
  width: 80px;
  height: 30px;
  border: none;
  color: white;
  background-color: rgb(255, 69, 69);
}